
    {% macro render_patient(patient) %}
    
    <div class="col my-3">

  <div class="card px-2" style="width: 18rem;">
     <img src="{{patient.img }}" class="card-img-top">
    <div class="card-body">
      <p5 class="card-title"> სახელი,გვარი: {{ patient.name }}</hp>
      <p class="card-text">პირადი ნომერი: {{ patient.id_number }}</p>
      <!-- <p class="card-text">{{ patient.age }}</p>
      <p class="card-text">{{ patient.gender }}</p> -->

      <a href="{{url_for('patient.patient', id= patient.id)}}" class="btn btn-success">ნახვა</a>
      <a href="{{url_for('patient.update', id= patient.id)}}" class="btn btn-warning">რედაქტირება</a>   
      <a href="{{url_for('patient.delete', id= patient.id)}}" class="btn btn-danger">წაშლა</a>   
    </div>
      </div>
    </div> 
    {% endmacro %}

     {% macro nav_link(route,name) %}

    <li class="nav-item">
     
          <a class="nav-link {% if request.path == url_for(route) %}active{% endif %}"aria-current="page"href="{{ url_for(route) }}">{{name}}</a>
        </li>    
    {% endmacro %}