{% extends "base.html" %}
{% block main %}

 
<h3 class="">გთხოვთ, შეავსოთ ყველა ველი</h3>

<main class= "m-4 p-4 shadow" >
  <form method="post">
  {{ form.hidden_tag() }}
  <div class="mb-3">

    {{ form.user_name.label(class="form-label") }}
    {{ form.user_name(class="form-control") }}
   
  </div>

  <div class="mb-3">
    {{ form.id_name.label(class="form-label") }}
    {{ form.id_name(class="form-control") }}
   
  </div>

  <div class="mb-3">
    {{ form.country.label(class="form-label") }}
    {{ form.country(class="form-select") }}
   
  </div>


<div class="mb-3">
    {{ form.address.label(class="form-label") }}
    {{ form.address(class="form-control") }}
   
  </div>

<div class="mb-3">
    {{ form.zip_code.label(class="form-label") }}
    {{ form.zip_code(class="form-control") }}
   
  </div>


  <div class="mb-3">
    {{ form.category.label(class="form-label") }}
    {{ form.category(class="form-select") }}
   
  </div>

   <div class="mb-3">
      {{ form.name.label(class="form-label") }}
      {{ form.name(class="form-control") }}
   
  </div>

   <div class="mb-3">
      {{ form.price.label(class="form-label") }}
      {{ form.price(class="form-control") }}
   
  </div>

  
   <div class="mb-3">
      {{ form.headphones(class="form-check-input") }}
      {{ form.headphones.label(class="form-check-label") }}
   
  </div>

  
   <div class="mb-3">
      {{ form.wifi(class="form-check-input") }}
      {{ form.wifi.label(class="form-check-label") }}
   
  </div>
      

       <div class="mb-3">

      {{ form.submit(class="btn btn-dark") }}
   
  </div>

</form>
</main>
{% endblock %}
