h2 {
    color: brown;
}

footer {
    background-color: coral;
}

#button {
    background-color: gold;
    border: 2px;
    color: blue solid;

}

a:link {
    color: darkgoldenrod
}

a:visited {
    color: purple
}

img {
    border: 6px solid rgba(12, 150, 12, 0.708);
    border-radius: 20px;


}

.text-input {
    color: darkred;
    margin: 5px;
    padding: 5px;
}

ჶ .date-input {
    color: blue;
    margin: 10px;
    padding: 10px;
}

.text-services {
    color: rgba(12, 150, 12, 0.708);
}