{% extends "base.html" %}
{% block main %}

<h3 class="">ახალი პროდუქტის დამატება</h3>
<main class= "m-4 p-4 shadow" >
  <form method="post" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.name.label(class="form-label") }}
    {{ form.name(class="form-control") }}
   
  </div>

  <div class="mb-3">
    {{ form.price.label(class="form-label") }}
    {{ form.price(class="form-control") }}
   
  </div>

   <div class="mb-3">
      {{ form.category.label(class="form-label") }}
      {{ form.category(class="form-select") }}
   
  </div>
      

     <div class="mb-3">
      {{ form.img.label(class="form-label") }}
      {{ form.img(class="form-control") }}
   
  </div>

       <div class="mb-3">

      {{ form.submit(class="btn btn-dark") }}
   
  </div>

</form>
</main>
{% endblock %}
