{% extends "base.html" %}
{% block main %}

<main class= "m-4 p-4 shadow" >
<form method="post">

  {% for errors in form.errors.values()  %}
    {% for error in errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ error }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
   </div>
    {% endfor %}
  {% endfor %}


  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.name.label(class="form-label") }}
    {{ form.name(class="form-control") }}

  </div>
  <div class="mb-3">
    {{ form.password1.label(class="form-label") }}
    {{ form.password1(class="form-control") }}
  </div>


    {{ form.submit(class="btn btn-dark") }}
  
</form>
</main>

{% endblock %}