{% extends "base.html" %}

{% block header %}

<main class="container mt-5 mx-5">
    <h2 class="text-center">ჩვენი კომპანია დაარსდა 2026 წელს. ამჟამად ჩვენი მომსახურების მიღება შეგიძლიათ თბილისში,
        ბათუმსა და ქუთაისში.</h2>
    <h2 class="text-center text-primary mt-3">ჩვენი მიზანია, მომხმარებელს გავუადვილოთ შინაური ცხოველების აღრიცხვა.
    </h2>

    <h3 class="mt-5 mb-4">ჩვენთან შეგიძლიათ, მიიღოთ შემდეგი სახის მომსახურებები:</h3>

    <div class="row row-cols-1 row-cols-md-4 g-4 text-center">


        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">ვიზიტის დაჯავშნა</h5>
                    <img src="https://madloba.info/media/images/My_friend_006.width-720.format-jpeg.jpg"
                        style="width: 100px; height: 80px; object-fit: cover; border-radius: 8px;" alt="ვიზიტი">
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">რეგისტრაცია</h5>
                    <img src="https://kvirispalitra.ge/media/uploads/2024/02-14/dzagli-1707892687.jpg"
                        style="width: 100px; height: 80px; object-fit: cover; border-radius: 8px;" alt="რეგისტრაცია">
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">კონსულტაცია</h5>
                    <img src="https://avatars.mds.yandex.net/i?id=88d3e9d15a8541dd564c2ddbee492e8d_l-5281441-images-thumbs&n=13"
                        style="width: 100px; height: 80px; object-fit: cover; border-radius: 8px;" alt="ექიმი">
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">კვება</h5>
                    <img src="https://avatars.mds.yandex.net/get-altay/6237886/2a000001810a0c63a53b7f9b7a7a05397ebe/XXL_height"
                        style="width: 100px; height: 80px; object-fit: cover; border-radius: 8px;" alt="კვება">
                </div>
            </div>
        </div>

    </div>

    <div class="mt-5 text-center">
        <a href="index.html" class="btn btn-outline-dark">მთავარ გვერდზე დაბრუნება</a>
        <a href="register.html" class="btn btn-success">რეგისტრაციის გვერდზე გადასვლა</a>
    </div>
</main>
{% endblock %}