{% extends 'base.html' %}

{% block main %}
<main>
    <h1 class="display-4 mx-3 mt-3 mb-5">Gallery</h1>
    <div class="container text-center">
        <div class="row">
            <div class="col my-3 mx-2">
                <div class="card px-3" style="width: 20rem;">

                    <img src="https://scontent.ftbs6-2.fna.fbcdn.net/v/t1.15752-9/694531756_858353106637023_2505383973973620837_n.png?_nc_cat=103&ccb=1-7&_nc_sid=9f807c&_nc_ohc=fSMV2d9nMbgQ7kNvwGOILNi&_nc_oc=AdpPA2OgfdMmi-DZBiXiFptF2dAIyVZUDWNIX8zXuHoP5P8U1pyoVPkkKFj-DnUlehA&_nc_zt=23&_nc_ht=scontent.ftbs6-2.fna&_nc_ss=7b2a8&oh=03_Q7cD5QGbJfuGqCMO9JRVNY6LX4RiHd19JKHF9p0j9hEeJnJJaQ&oe=6A2FCD7A"
                         class="card-img-top"
                         alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Hand mosaic</h5>
                        <p class="card-text">Artist: Unknown</p>
                        <a href="photo.html" class="btn btn-dark">More</a>
                      <ul>
                        <li>
                          Adress: 5 Chakhrukhadze St, Tbilisi, Georgia
                        </li>
                      </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>
</main>
{% endblock %}